<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.polozov.springDemo.dao.DataDaoImpl" name="dao">
        <constructor-arg name="fileName" value="/questions.csv"/>
        <constructor-arg name="converter" ref="questionConverter"/>
    </bean>

    <bean id="questionConverter" class="com.polozov.springDemo.util.QuestionConverter"/>
    <bean id="questionPrinter" class="com.polozov.springDemo.view.QuestionPrinter"/>

    <bean id="examService" class="com.polozov.springDemo.service.ExamServiceImpl">
        <constructor-arg name="dao" ref="dao"/>
        <constructor-arg name="printer" ref="questionPrinter"/>
    </bean>
</beans>